correction/models/*
!correction/models/object_detection/
!correction/models/object_detection/best.pt
correction/archive/
correction/data/
correction/.venv/
detection/.venv/
correction/testing/
detection/data/correction/models/
detection/data/